/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCv6KVjbNBYlgoCxCvjsGyI.ttf) format('truetype');
}
html,
body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 1px;
  margin-bottom: 15px;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.intro-section {
  color: white;
  background-color: #252934;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.intro-section .heading {
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-section .heading h1 {
  letter-spacing: 3px;
  line-height: 120%;
  text-align: center;
  font-size: 70px;
}
.intro-section .heading h1 span {
  color: #e3196d;
}
.intro-section .heading .button {
  margin-top: 10px;
  border: 1px solid white;
  display: flex;
  align-items: baseline;
}
.intro-section .heading .button p {
  font-size: 20px;
  padding: 20px;
}
.intro-section .heading .button i {
  display: none;
}
.intro-section .heading .button:hover {
  background-color: #e3196d;
  padding-right: 15px;
  transition: 0.4s;
  cursor: pointer;
}
.intro-section .heading .button:hover i {
  display: inline-block;
}
.navigation {
  background-color: #252934;
  z-index: 3;
}
.navigation .nav-content {
  width: 50%;
  display: flex;
}
.navigation .nav-content .selected {
  color: #e3196d;
}
.navigation .nav-content .links {
  font-size: 20px;
  margin: 3% 0;
  padding-left: 5%;
  text-decoration: none;
  color: white;
}
.navigation .progress-container {
  width: 100%;
  height: 6px;
  background: #07bac2;
}
.navigation .progress-container .scroll-progress-bar {
  height: 6px;
  background: #01979d;
  width: 0%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .container {
  padding-top: 60px;
}
.projects-section {
  background-color: #ebebeb;
  margin-top: 5%;
  width: 100%;
}
.projects-section .header {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-section .header h1 {
  font-size: 60px;
  margin: 0;
}
.projects-section .header hr {
  background-color: #252934;
  width: 10%;
  height: 10px;
}
.projects-section .tabs {
  width: 100%;
}
.projects-section .tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.projects-section .tabs .tabs-item {
  display: none;
  width: 75%;
}
.projects-section .tabs .tabs-item-selected {
  display: block;
}
.projects-section .tabs .tabs-links {
  display: flex;
  justify-content: center;
}
.projects-section .tabs .tabs-link {
  padding: 20px 25px;
  font-size: 20px;
  color: #1d232c;
  cursor: pointer;
}
.projects-section .tabs .tabs-link:hover {
  background-color: lightcoral;
}
.projects-section .tabs .tabs-link-selected {
  z-index: 2;
  background-color: #e3196d;
  color: white;
}
.projects-section .tabs .tabs-link-selected:hover {
  background-color: #07bac2;
}
.contact-section {
  background-color: #252934;
  padding-top: 5%;
  width: 100%;
  color: white;
}
.contact-section .header {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.contact-section .header h1 {
  font-size: 60px;
  margin: 0;
}
.contact-section .header hr {
  width: 10%;
  height: 10px;
  background-color: white;
}
.contact-section .contact-content {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-section .contact-content p {
  color: #07bac2;
  font-size: 20px;
  letter-spacing: 0.7px;
}
.contact-section .contact-content form {
  margin-top: 3%;
  margin-bottom: 8%;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.contact-section .contact-content form input,
.contact-section .contact-content form textarea {
  font-size: 18px;
  margin-top: 5px;
  border: none;
  padding: 8px;
  color: #747474;
  background-color: #1d232c;
}
.contact-section .contact-content form input[type='submit'] {
  margin-top: 5px;
  width: auto;
  background-color: #1d232c;
  color: white;
  padding: 12px 20px;
  border: 2px solid white;
  cursor: pointer;
  align-self: flex-end;
}
.footer-section {
  background-color: #1a232e;
  padding-top: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-section .social {
  display: flex;
  justify-content: center;
}
.footer-section .social .fab {
  padding: 10px 0;
  width: 60px;
  margin: 60px 10px;
  background-color: #252934;
  font-size: 30px;
  text-align: center;
  color: white;
}
.footer-section .copyright {
  padding-bottom: 30px;
  color: #747474;
}
.footer-section .copyright span {
  color: #e3196d;
}
